*{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background-image: url(/PORTFOLIO/images/slide4.jpg);
    padding:250px;
    background-repeat: no-repeat;
    background-size:cover ;
    border-bottom:2px solid gray;
    

}
.skill-pad{
    padding: 75px 0;
}
